.spot_id{
    font-weight: bold;
    font-size: large;
}




.address {
    color: green;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}


/*
li {
    border: 1px solid black;
    margin-bottom: 100px;
    border-radius: 10px;
}
 */

#kalkgraven {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}