.spot_id{
    font-weight: bold;
    font-size: large;
}

.address {
    color: green;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}


/*
li {
    border: 1px solid black;
    margin-bottom: 100px;
    border-radius: 10px;
}


#kalkgraven {
    justify-content: space-around;
    align-content: center;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

/*
Image container css inspired by https://www.youtube.com/watch?v=zWg_YpxabKA&ab_channel=ShreyashCodes
 */


.container1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-items: flex-start;
}

.container2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-items: flex-start;
}

.image-container {
    position: relative;
    margin: 20px;
    width: 450px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.8s ease-in-out;
}

.image-container-users {
    position: relative;
    margin: 20px;
    width: 450px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.8s ease-in-out;
}


img {
    position: absolute;
    width: 100%;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}


span {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    z-index: 999;
    background: linear-gradient(#0000, #121212);
    transform: translateY(250px);
    transition: transform 0.6s ease-in-out;
}


span h1 {
    color: white;
}


span p {
    color: white;
}


p1 {
    font-weight: bolder;
    color: white;
}


.image-container::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transform: scale(1);
}


.image-container-users::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transform: scale(1);
}


.image-container:hover > span {
    transform: translateY(0);
}


.image-container-users:hover > span {
    transform: translateY(0);
}


.image-container:hover:after {
    opacity: 1;
}


.image-container-users:hover:after {
    opacity: 1;
}


.image-container:hover > img {
    transform: scale(1.2);
}


.image-container-users:hover > img {
    transform: scale(1.2);
}


.image-container:hover {
    transform: translateY(-10px) scale(1.1);
}


.image-container-users:hover {
    transform: translateY(-10px) scale(1.1);
}


body {
    background-color: whitesmoke;
}


#divHeader{
    background: linear-gradient(#515BD4, #8134AF,#DD2A7B,#FEDA77,#F58529);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 5px;
    float: top;
    position: relative;
}


#filterbarSeasons{
    float: right;
}


#headerh1{
    text-align: center;
    color: black;
    font-weight: bolder;
}


#logo{
    border-radius: 4px;
    padding: 10px;
    width: 80px;
    float: top;
    position: relative;

}

.filter{
    background: white;
    color: black;
    padding: 1px 12px;
    font-weight: bolder;
    font-size: 13px;
}


#divFooter{
    background-color: darkslategrey;
    color: white;

}